@mixin ftstyle($ftstylecr:black, $ftstylefz:12px, $ftstylelh:1.5, $ftstylefw:300){
	color: $ftstylecr;
	font-size: $ftstylefz;
	line-height: $ftstylelh;
	font-weight: $ftstylefw;
}
@mixin container($containermw:1270px, $containermg:0 auto, $containerpg:0 15px){
	max-width: $containermw;
	margin: $containermg;
	padding: $containerpg;
}