@import url("reset.css");
body{
	background: rgba(128, 128, 128, 0.571);
}


.wrapper{
	overflow: hidden;
	min-height: 100%;
}
.transform__container{
max-width: 1200px;
margin: 0 auto;
padding: 50px 15px;
}
.transform__translate_margin{
	margin-bottom: 150px;
}
.cub{
	display: inline-block;
	vertical-align: top;
	padding: 30px;
	line-height: 1.5;
	margin-right: 100px;
	background: rgb(75, 75, 75);
}
.block{
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	margin-right: 100px;
}
.block_one, .block_two,.block_three {
	padding: 10px;
}
.block_one{
	background: rgba(255, 255, 255, 0.639);
}
.block_two{
	background: rgb(75, 75, 75);
}
.block_three{
	background: rgb(20, 20, 20);
	color: aliceblue;
}
.translate-xy{
	transform: translate(15px,10px);
}
.block:hover .translate-xy{
	transform: translate(0,0);
}
.translate-down{
    transform: translatey(100px);
}
.translate-up{
	transform: translatey(-100px);
}
.block-translate:hover .translate-down{
	transform: translatey(0);
}
.block-translate:hover .translate-up{
	transform: translatey(0);
}
.translate-r{
transform: translatex(50px);
}
.translate-l{
	transform: translatex(-50px);
}
.block-f:hover .translate-r{
	transform: translatex(0);
}
.block-f:hover .translate-l{
	transform: translatex(0);
}
.block-percent:hover .percent{
	width: 150%;
	transform: translate(40%, 30%);
}

.block_two_x{
	transform: scale(1.5);
}
.block-x:hover .block_two_x{
	transform: scale(1);
}
.start{
    transform: scale(1.5);
}
.block-start:hover .start{
	transform: scale(1);
}
.mirrow{
	transform: scale(-1, 1);
}
.block-mirrow:hover .mirrow{
	transform: scale(1, 1);
}
.xy{
	transform: scale(1, 0.5);
}
.block-xy:hover .xy{
	transform: scale(1, 1);
}
.block-middle:hover .middle{
    transform: rotate(0);
}
.middle{
	transform: rotate(90deg);
}
.block-all:hover .all{
transform: rotate(0);
}
.all{
	transform: rotate(50deg);
}
.block-around:hover .around{
	transform: rotate(0);
}
.around{
	transform: rotate(-100deg);
}
.block-action:hover .action{
	transform: rotate(0);
}
.action{
	transform: rotate(-80deg);
}
.block_skew-block:hover .skew-block{
    transform: skew(0, 0);
}
.skew-block{
	transform: skew(20deg, 10deg);
}
.block_skrew-crash:hover .skrew-crash{
	transform: skew(0, 0);
}
.block_skrew-crash:hover .skrew-mirrow{
	transform: skew(0, 0);
}
.skrew-crash{
	transform: skew(-40deg, 0);
}
.skrew-mirrow{
	transform: skew(40deg, 0);
}
.block_skrew-top:hover .skrew-top{
	transform: skew(0, 0);
}
.skrew-top{
	transform: skew(-60deg, 0);
}
.block_skrew-super:hover .skrew-super{
	transform: skew(0, 0);
}
.skrew-super{
	transform: skew(20deg, 20deg);
}
.block_origin-top:hover .origin-top{
    transform: rotate(0);
}
.origin-top{
	transform-origin: 0 0;
	transform: rotate(90deg);
}
.block_origin-down:hover .origin-down{
    transform: rotate(0);
}
.origin-down{
    transform-origin: 10px 0;
	transform: rotate(-90deg);
}
.block_origin-turbo:hover .origin-turbo{
	transform: rotate(0);
}
.origin-turbo{
	transform-origin: center;
	transform: rotate(-120deg);
}
.block_origin-pacman:hover .origin-pacman{
transform: rotate(0);
}
.origin-pacman{
	transform-origin: 0 0;
	transform: rotate(90deg);
}
.perspective{
	margin-bottom: 100px;
}
.perspective_parent{
	display: inline-block;
	vertical-align: top;
}
.perspective__one{
	
	width: 150px;
	height: 150px;
	margin-right: 50px;
	background: rgb(75, 75, 75);
}

.perspective_parent-one{
	perspective: 400px;

}
.perspective__one_one:hover{
transform: rotatex(50deg);
}
.perspective_parent_origin{
	perspective-origin: left;
	perspective: 600px;
}
.perspective__one_origin:hover{
	transform: rotatex(70deg);
}
.transform_rotate3d{
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 150px;
	perspective: 400px;
}
.rotate3d__test{
	width: 100%;
	height: 100%;
	background: rgb(75, 75, 75);
}
.rotate3d__test:hover{
transform: rotate3d(1,1,1, 45deg);
}
.transform__transform-style{
	width: 150px;
	height: 150px;
	background-color: rgba(169, 169, 169, 0.817);
	perspective: 400px;
	transform-style:preserve-3d;
}
.stule__test{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100%;
	background: rgb(75, 75, 75);
	transform: rotatey(45deg);
	margin-right: 50px;
}
.stule__test:hover{
	transform: rotatey(0);
}
.backface {
	width: 150px;
	height: 150px;
	perspective: 400px;
	transform-style:preserve-3d;
	background-color: rgba(169, 169, 169, 0.817);
}
.backface__parent {
	width: 100%;
	height: 100%;
	position: relative;
	
	transform-style: preserve-3d;
	transition: all 0.8s ease 0s;
}

.backface__front, .backface__end{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	
}
.backface__front{
	z-index: 2;
	transform: rotatey(0deg);
	background-color: #77608d;
	backface-visibility: hidden;
}
.backface__end {
	transform: rotatey(-180deg);
	background-color: cadetblue;
}
.backface:hover .backface__parent{
	transform: rotatey(180deg);
	
}
/* -------------- car ------------------ */

.car__container{
	width: 700px;
	height: 400px;
	border-bottom: 5px solid black;
	position: relative;
	perspective: 400px;
    perspective-origin: 0 0;
	margin: 0 auto;
}
/* -------------- weels ------------------ */
.car__wheels-end{
	width: 70px;
	height: 95px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 70px;
	
}
.car__weels-end-back-side{
	width: 40px;
	height: 47px;
	border-bottom: 2px solid black;
	border-radius: 100% 0% 100% 0% / 0% 0% 100% 100% ;
	position: absolute;
	bottom: 0;
	left: 130px;
}
.car__weels-end-left{
	width: 70px;
	height: 95px;
	border-bottom: 2px solid black;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 200px;
}
.car__weels-end-left-back-side{
	width: 40px;
	height: 47px;
	border-bottom: 2px solid black;
	border-radius: 100% 0% 100% 0% / 0% 0% 100% 100% ;
	position: absolute;
	bottom: 0;
	left: 250px;
}
.car__weels-front{
	width: 90px;
	height: 97px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 300px;
}
.car__weels-front-back-side{
	width: 40px;
	height: 47px;
	border-bottom: 2px solid black;
	border-radius: 100% 0% 100% 0% / 0% 0% 100% 100% ;
	position: absolute;
	bottom: 0;
	left: 380px;
}
.car__weels-left{
	width: 90px;
	height: 97px;
	border-bottom: 2px solid black;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	right: 180px;
}
.car__weels-left-back-sibe{
	width: 40px;
	height: 47px;
	border-bottom: 2px solid black;
	border-radius: 100% 0% 100% 0% / 0% 0% 100% 100% ;
	position: absolute;
	bottom: 0;
	right: 150px;
}
/* -------------- bumper ------------------ */
.car__bumper{
	width: 180px;
	
	border-bottom: 2px solid black;
	position: absolute;
	bottom: 45px;
	left: 390px;

}
.car__bumber-left{
	width: 20px;
	height: 90px;
	border-right: 2px solid black;
	position: absolute;
    bottom: 45px;
	right: 110px;
	border-radius: 45%;
	transform: rotate(15deg);

}
.car__bumber-top{
	width: 200px;
	height: 15px;
	border: 1px solid black;
	border-radius: 10px;
	position: absolute;
	bottom: 93px;
	right: 90px;
	transform: skew(0deg, -15deg) rotate(15deg);
	
}
.car__bumber-end{
	width: 35px;
	height: 25px;
	border: 2px solid black;
	border-radius: 79% 21% 69% 31% / 48% 100% 0% 52% ;
	position: absolute;
	bottom: 55px;
	left: 10px;
}
/* -------------- corps ------------------ */
.car__sill{
	width: 150px;
	border-bottom: 2px solid black;
	position: absolute;
	bottom: 45px;
	left: 143px;
}


.car__dor-body{
	width: 250px;
	
	border-bottom: 2px solid black;
	position: absolute;
	bottom: 180px;
	left: 100px;
}
.car__trunk-top{
	width: 80px;
	height: 20px;
	border-top: 2px solid black;
	position: absolute;
	transform: rotate(-25deg);
	bottom: 158px;
	left: 25px;
	border-radius: 100%;
}
.car__trunk-end{
	width: 10px;
	height: 70px;
	border-left: 2px solid black;
	position: absolute;
	bottom: 80px;
	left: 20px;
	border-radius: 50%;
	transform: rotate(5deg);
}
.car__trunk-bottom{
	width: 25px;
	height: 20px;
	border-bottom: 2px solid black;
	position: absolute;
	bottom: 50px;
	left: 47px;
	transform: rotate(15deg);
}
.car__hood-top{
	width: 145px;
	height: 50px;
	border-top: 2px solid black;
	border-radius: 0% 100% 0% 100% / 100% 10% 90% 0% ;
    position: absolute;
	bottom: 133px;
	right: 200px;
}
.car__hood{
	width: 100px;
	height: 50px;
	border-top: 2px solid black;
	border-radius: 0% 100% 0% 100% / 100% 46% 54% 0% ;
	position: absolute;
	bottom: 125px;
	right: 110px;
	transform: rotate(12deg);
}
.car__stand-end{
	width: 20px;
	height: 100px;
	border-left: 2px solid;
	position: absolute;
	top: 120px;
	left: 120px;
    border-radius: 40%;
	transform: rotate(40deg);
}
.car__roof{
	width: 270px;
	height: 30px;
	border-top: 2px solid;
	border-radius: 70%;
	/* border-radius: 100% 0% 100% 0% / 94% 100% 0% 6% ; */
	position: absolute;
	top: 120px;
	left: 150px;
	/* transform: rotate(-5deg); */
}
/* ---------------- windows -------------------- */
.car__windscreen{
	width: 120px;
	height: 90px;
	border: 1px solid black;
	border-radius: 84% 16% 100% 0% / 0% 100% 0% 100% ;
	transform: rotateX(50deg);
	position: absolute;
	top: 120px;
	left: 330px;
}
.car__windows-front{
	width:20px;
	height: 90px;
	border-left: 2px solid black;
	position: absolute;
	top: 120px;
	left: 320px;
	transform: rotate(-30deg);

}
.car__windows-end{
	width:20px;
	height: 85px;
	border-left: 2px solid black;
	position: absolute;
	top: 130px;
	left: 130px;
	transform: rotate(40deg);
	border-radius: 35%;
}
.car__windows-bottom{
	width: 230px;
	height: 20px;
	border-top: 2px solid black;
	position: absolute;
	top: 210px;
	left: 115px;

}
.car__windows-top{
	width: 150px;
	height: 20px;
	border-top: 2px solid black;
	position: absolute;
	top: 130px;
	left: 150px;
	border-radius: 50%;
	transform: rotate(-5deg);
}
.car__windows-stand{
	width: 10px;
	height: 85px;
	border-left: 1px solid black;
	position: absolute;
	top: 130px;
	left: 200px;
	border-radius: 50%;
	transform: rotate(20deg);
}
.car__headlight-right{
	width: 50px;
	height: 25px;
	border: 2px solid black;
	border-radius: 10px;
	position: absolute;
	bottom: 120px;
	right: 220px;
	transform: skew(0deg, -10deg) rotate(7deg);
}
.car__headlight-left{
	width: 35px;
	height: 25px;
	border: 2px solid black;
	border-radius: 10px;
	position: absolute;
	bottom: 120px;
	right: 110px;
	transform: skew(0deg, 10deg) rotate(-7deg);
}

.car__headlight-end{
	width: 15px;
	height: 10px;
	border: 2px solid brown;
	border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
	position: absolute;
	bottom: 140px;
	left: 25px;
}
.car__molding-end{
	width: 30px;
	border: 1px dashed black;
	position: absolute;
	bottom: 110px;
	left: 30px;
}
.car__molding-end-dors{
	width: 60px;
	border: 1px dashed black;
	position: absolute;
	bottom: 110px;
	left: 100px;
}
.car__molding-front-dors{
	width: 150px;
	border: 1px dashed black;
	position: absolute;
	bottom: 110px;
	left: 190px;
}
.car__dors-top{
	width: 20px;
	height: 40px;
	border-left: 1px solid black;
	border-radius: 20%;
	position: absolute;
	bottom: 120px;
	left: 175px;
	transform: rotate(10deg);
}
.car__dors-bottom{
	width: 20px;
	height: 40px;
	border-left: 1px solid black;
	border-radius: 20%;
	position: absolute;
	bottom: 60px;
	left: 175px;
	transform: rotate(-10deg);
}
.car__dors-bottom-bottom{
	width: 70px;
	border-bottom: 1px solid black;
	position: absolute;
	bottom: 60px;
	left: 200px;
}
.car__dors-arca{
	width: 50px;
	height: 45px;
	border-right: 1px solid black;
    position: absolute;
	bottom: 70px;
	left: 250px;
	transform: rotate(30deg);
}
.car__radiator{
	width: 80px;
	height: 20px;
	border: 1px solid black;
	border-radius: 10px;
	transform: skew(0deg, -10deg) rotate(10deg);
	position: absolute;
	bottom: 55px;
	right: 150px;
}
.car__info{
	font-size: 25px;
	margin-left: 200px;
}