@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body {
  background: #FFFFFF;
}

[class*=__container] {
  max-width: 120rem;
  padding: 0rem 1.3125rem;
}
@media (max-width: 50.625rem) {
  [class*=__container] {
    padding: 0rem 0.9375rem;
  }
}

.menu-main {
  margin-bottom: 1.875rem;
}
.menu-main__inner {
  border: 2px solid #C4C4C4;
}
.menu-main__title {
  font-family: "Oswald", sans-serif;
  color: #000000;
  line-height: 2.83;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0 5.8125rem;
}
@media (max-width: 57.8125rem) {
  .menu-main__title {
    font-size: 1.25rem;
  }
}
@media (max-width: 26.56125rem) {
  .menu-main__title {
    padding: 0 1.25rem;
  }
}
.menu-main__navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.625rem 1.75rem 0.625rem;
}
@media (max-width: 75rem) {
  .menu-main__navigator {
    padding: 0 0.625rem 0.9375rem 0.625rem;
  }
}
@media (max-width: 46.875rem) {
  .menu-main__navigator {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (max-width: 38.75rem) {
  .menu-main__navigator {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 29.375rem) {
  .menu-main__navigator {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.25rem 0.625rem 1.75rem 0.625rem;
  }
}
.menu-main__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 12.513312%;
          flex: 0 1 12.513312%;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 2.8125rem 0;
  -webkit-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
@media (max-width: 75rem) {
  .menu-main__items {
    padding: 1.875rem 0;
  }
}
@media (max-width: 57.8125rem) {
  .menu-main__items {
    padding: 0.9375rem 0;
  }
}
@media (max-width: 38.75rem) {
  .menu-main__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media (max-width: 29.375rem) {
  .menu-main__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }
}
.menu-main__items:nth-child(1) img {
  max-width: 60.5744681%;
}
.menu-main__items:nth-child(2) img {
  max-width: 71.7574468%;
}
.menu-main__items:nth-child(3) img {
  max-width: 37.7659574%;
}
.menu-main__items:nth-child(4) img {
  max-width: 43.1702128%;
}
.menu-main__items:nth-child(5) img {
  max-width: 57.4978723%;
}
.menu-main__items:nth-child(6) img {
  max-width: 53.5021277%;
}
.menu-main__items:nth-child(7) img {
  max-width: 71.9148936%;
}
@media (any-hover: hover) {
  .menu-main__items:hover {
    background: #F0F2F2;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
  }
}
.big-pic__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.big-pic__cards {
  position: relative;
}
.big-pic__cards:nth-child(1) .big-pic__img, .big-pic__cards:nth-child(3) .big-pic__img {
  padding-bottom: 46.969697%;
}
.big-pic__cards:nth-child(2) {
  grid-row: span 2;
}
.big-pic__cards:nth-child(2) .big-pic__img {
  padding-bottom: 97.0810811%;
}
.big-pic__img {
  position: relative;
}
.big-pic__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.big-pic__info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}