@use "sass:math";
@mixin ftstyle($ftstylecr:black, $ftstylelh:1.5, $ftstylefw:300){
	color: $ftstylecr;
	line-height: $ftstylelh;
	font-weight: $ftstylefw;
}
@mixin container($containermw:1270px, $containermg:0 auto, $containerpg:0 15px){
	max-width: $containermw;
	margin: $containermg;
	padding: $containerpg;
}
//REM
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
//EM
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}



