@import "_reset.scss";
@import "_common.scss";
@import "_mixin.scss";
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700);

//================================ body =========================================

body{
	font-family: "Poppins", sans-serif;
}
//================================ header =========================================

.header-page {

	// .header-page__content

	&__content {
	}

	// .header-page__container

	&__container {
		@include container($containermw:1270px, $containermg:0 auto, $containerpg:0 15px);
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 40px;
		padding-top: 30px;
		padding-bottom: 30px;
		column-gap: 8px;

	}

	// .header-page__logo

	&__logo {
        @include ftstyle($ftstylecr:#495057, $ftstylefz:18px, $ftstylelh:1.39, $ftstylefw:700); 
		position: relative;
		z-index: 2;
	}
    &__logo::after{
        content: ".";
		color: #DDBEA9;
	}
	// .header-page__menu

	&__menu {
	}

	// .header-page__control

	&__control {
		position: relative;
		z-index: 2;
	}

	&__burger-button{
		display: none;

	}
	@media (max-width: 660px){
		&__burger-button{
			display: block;
			flex: 0 0 30px;
			height: 18px;
			position: relative;
	
		}
		&__burger-button::before,
		&__burger-button::after,
		&__burger-button span{
			content: "";
			height: 2px;
			width: 100%;
			position: absolute;
			left: 0;
			background: #e28242;

		}
		&__burger-button::before{
            top: 0;
		}
		&__burger-button::after{
            bottom: 0;
		}
		&__burger-button span{
            top: 50%;
			margin-top: -1px;
		}
	}
}
//================================ header_menu =========================================
.menu-header {

	// .menu-header__inner

	&__inner {

	}
	@media (max-width: 660px){
        position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #E5E5E5;
		padding: 100px 0px 0px 30px;
	}

	// .menu-header__list

	&__list {
		display: flex;
		gap: 25px;
	}
	@media (max-width: 660px){
        &__list{
			flex-direction: column;
		}
	}

	// .menu-header__items

	&__items {
		
	}
	
	@media (min-width: 660px){
        &__items--arrow::after{
        content: "";
		display: inline-block;
		width: 8px;
		height: 6px;
		background: url("../img/vector/arrow_nav.svg") no-repeat;
		margin-left: 5px;
	}
	}

	// .menu-header__link
	&__link {
		@include ftstyle($ftstylecr:rgba(73, 80, 87, 0.5), $ftstylefz:12px, $ftstylelh:2.08, $ftstylefw:500); 
		position: relative;
		transition: color 0.3s;
	}
	&__link::before{
		content: "";
		display: inline-block;
		width: 100%;
		height: 2px;
		position: absolute;
		top: 110%;
		left: 0;
		background: transparent;
		border-radius: 2px;
		transition: background 0.3s;

	}
	&__items--parent{
		position: relative;
		
	}
	&__items--parent:hover &__dropdown{
		overflow: visible;
		opacity: 1;	
	}
	&__dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		width: 136px;
		padding-top: 10px;
		overflow: hidden;
		opacity: 0;
	}
	@media (any-hover: hover){
		&__link:hover {
			color: #495057;
			transition: color 0.3s;
		}
		&__link:hover::before{
			content: "";
			display: inline-block;
			width: 100%;
			height: 2px;
			position: absolute;
			top: 110%;
			left: 0;
			background: #DDBEA9;
			border-radius: 2px;
			transition: background 0.3s;
		}

	}
}

.dropdown-menu {

	// .dropdown-menu__inner

	&__inner {
		background: #212529;
        border-radius: 5px;
		padding: 20px;
	}

	// .dropdown-menu__list

	&__list {
	}

	// .dropdown-menu__items

	&__items {
	}

	// .dropdown-menu__link

	&__link {
	@include ftstyle($ftstylecr:rgba(248, 249, 250, 0.6), $ftstylefz:12px, $ftstylelh:2.8, $ftstylefw:500);
	transition: color 0.3s;
    }
	@media (any-hover: hover){
        &__link:hover{
            color: #F8F9FA;
			transition: color 0.3s;
		}
	}
}

//================================ header_control =========================================
.control-header {

	// .control-header__list

	&__list {
		display: flex;
		align-items: center;
		gap: 25px;
	}

	// .control-header__items

	&__items {
		

	}
	&__items--bg{
		background: #DDBEA9;
		border-radius: 20px;
		padding: 7px 15px 8px 16px;
	}


	// .control-header__link

	&__link {
		@include ftstyle($ftstylecr:rgba(73, 80, 87, 0.5), $ftstylefz:12px, $ftstylelh:2.8, $ftstylefw:500); 
	}
	&__link--color{
		display: inline-block;
		color: #F8F9FA;


	}
}


