@import "_reset.scss";
@import "_common.scss";
@import "_mixin.scss";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

//================================ body =========================================
body{
	font-family: "Poppins", sans-serif;
	background: #E5E5E5;
}
[class*="__container"]{
	@include container($containermw:1270px, $containermg:0 auto, $containerpg:0 15px);
}



//======================================= Хедер ===============================================
.header-page {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	background: #E5E5E5;
	// .header-page__container

	&__container {
		display: flex;
		justify-content: space-between;
		min-height: 26px;
		padding-top: 37px;
		padding-bottom: 37px;
	}

	// .header-page__logo

	&__logo {
		@include ftstyle($ftstylecr:#495057, $ftstylefz:18px, $ftstylelh:1.39, $ftstylefw:700); 
		position: relative;
		z-index: 2;
	}
	&__logo::after{
		content: ".";
		color: #DDBEA9;
	}

	// .header-page__inner

	&__inner {
	}

	// .header-page__burger-box

	&__burger-box {
		@media (max-width:660px){
			position: fixed;
			top: 0;
			left: 100%;
			width: 100%;
			height: 100%;
            padding: 120px 0px 30px 40px;
			background: #E5E5E5;
		}
	}
	&__burger-box::before{
		@media (max-width:660px){
			content: "";
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100px;
            z-index: 1;
			background: #E5E5E5;
		}	
	}

    // .header-page__burger-box

	&__right-inner{
		display: flex;
		position: relative;
		z-index: 2;
		@media (max-width:345px){
			margin-right: 15px;
		}
		
	}

	// .header-page__socials

	&__socials {
	}

	// .header-page__search

	&__search {
	}

	// .header-page__knob-burger

	&__knob-burger {
		display: none;
		@media (max-width:660px){
			display: block;
			flex: 0 0 30px;
			height: 18px;
			position: relative;
		}
	}
	&__knob-burger::before,
	&__knob-burger::after,
	&__knob-burger span{
		content: "";
        position: absolute;
		left: 0;
		height: 2px;
		width: 100%;
		background: #495057;
	}
	&__knob-burger::before{
		top: 0;
	}
	&__knob-burger::after{
        bottom: 0;
	}
	&__knob-burger span{
        top: 50%;
		margin-top: -1px;
	}
}
.burger-box {

	// .burger-box__navigator

	&__navigator {
	}

	// .burger-box__list

	&__list {
		display: flex;
		column-gap: 25px;
		@media (max-width:660px){
			flex-direction: column;
			row-gap: 30px;
		}
	}

	// .burger-box__items

	&__items {
	}

	// .burger-box__link

	&__link {
		@include ftstyle($ftstylecr:rgba(73, 80, 87, 0.5), $ftstylefz:12px, $ftstylelh:2.08, $ftstylefw:500);
		transition: color 0.3s;
		position: relative;
	}
	&__link::before{
		content: "";
		display: inline-block;
		height: 2px;
		width: 100%;
		background: transparent;
        position: absolute;
		top: 100%;
		left: 0;
		transition: all 0.3s;
		//margin-top: 2px;
	}

	@media (any-hover: hover){
		&__link:hover{
            color: #495057;
			transition: color 0.3s;
		}
		&__link:hover.burger-box__link::before{
			content: "";
			display: inline-block;
			height: 2px;
			width: 100%;
			background: #DDBEA9;
			position: absolute;
			top: 100%;
			left: 0;
			margin-top: 2px;
			transition: all 0.3s;
		}
	}
	&__link--active{
		color: #495057;
	}
}
.socials-header {
	margin-right: 20px;

	// .socials-header__list

	&__list {
		display: flex;
		column-gap: 25px;
	}

	// .socials-header__items

	&__items {
	}

	// .socials-header__link

	&__link {
		@include ftstyle($ftstylecr:rgba(73, 80, 87, 0.5), $ftstylefz:12px, $ftstylelh:2.08, $ftstylefw:500);
		transition: color 0.3s;
	}
	@media (any-hover: hover){
		&__link:hover{
			color: #495057;
			transition: color 0.3s;
		}
	}
}
.search-header {

	// .search-header__item

	&__item {
		padding: 5px 0 0 20px;
		border-left: 1px solid #999999;
	}
}
//======================================= Головна сторінка ===============================================
.main-page {

	// .main-page__content

	&__content {
	}

	// .main-page__container

	&__container {
	}

	// .main-page__big-pic

	&__big-pic {
	}
}
//======================================= Велика фотка ===============================================
.big-pic {
    padding-top: 100px;
	margin-bottom: 100px;
	@media (max-width:880.98px){
		margin-bottom: 50px;
	}
	// .big-pic__inner

	&__inner {
		position: relative;
	}

	// .big-pic__img

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__img img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 5px;
	}

	// .big-pic__info

	&__info {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		padding: 192px 0px 193px 0px;
		@media (max-width:1023.98px){
			padding: 170px 0px 170px 0px;
		}
		@media (max-width:870px){
			padding: 140px 0px 140px 0px;
		}
		@media (max-width:767.98px){
			padding: 120px 0px 120px 0px;
		}
		@media (max-width:640px){
			padding: 100px 0px 100px 0px;
		}
		@media (max-width:545px){
			padding: 80px 0px 80px 0px;
		}
	}

	// .big-pic__author-name

	&__author-name {
		@include ftstyle($ftstylecr:#E5E5E5, $ftstylefz:12px, $ftstylelh:1.67, $ftstylefw:300);
		text-align: center;
	}
	// .big-pic__title

	&__title {
		max-width: 605px;
		margin: 0 auto;
		text-align: center;
		@media (max-width:600px){
			max-width: 450px;
		}
		@media (max-width:480px){
			max-width: 400px;
		}
	}
	&__title h1{
        @include ftstyle($ftstylecr:#F8F9FA, $ftstylefz:40px, $ftstylelh:1.6, $ftstylefw:700);
		@media (max-width:767.98px){
			font-size: 35px;
		}
		@media (max-width:640px){
			font-size: 30px;
		}
		@media (max-width:600px){
			font-size: 25px;
		}
		@media (max-width:480px){
			font-size: 20px;
		}
		@media (max-width:374.98px){
			font-size: 18px;
		}
	}
}
//======================================= Головна навігація сторінкова ===============================================
.main-page {

	// .main-page__menu

	&__menu {
	}
}
.menu-main {
    display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 25px;
	margin-bottom: 45px;
	@media (max-width:880.98px){
		flex-direction: column;
		row-gap: 25px;
	}
	@media (max-width:580.98px){
		align-items: flex-start;
	}
	// .menu-main__title

	&__title {
		flex: 0 1 32.2580645%;
		@include ftstyle($ftstylecr:#212529, $ftstylefz:25px, $ftstylelh:1.6, $ftstylefw:700);
		@media (max-width:994px){
			font-size: 20px;
		}
		@media (max-width:856.98px){
			flex: 0 0 32.2580645%;
		}
	}

	// .menu-main__navigator

	&__navigator {
	}

	// .menu-main__list

	&__list {
		display: flex;
		column-gap: 25px;
		@media (max-width:880.98px){
			flex-wrap: wrap;
		}
	}

	// .menu-main__items

	&__items {
	}

	// .menu-main__link

	&__link {
		@include ftstyle($ftstylecr:#C4C4C4, $ftstylefz:12px, $ftstylelh:2.08, $ftstylefw:500); 
		transition: color 0.3s;
	}
	&__link--active {
		color: #495057;
	}
	@media (any-hover: hover){
		&__link:hover{
			color: #495057;
			transition: color 0.3s;
		}
	}
}
//======================================= картки ===============================================
.main-page {
	margin-bottom: 100px;
	@media (max-width:462px){
		margin-bottom: 50px;
	}

	// .main-page__librery

	&__librery {
	}
}
.librery-main {
	display: flex;
	flex-wrap: wrap;
	row-gap: 40px;
	margin: 0 -15px;
	@media (max-width:800px){
		margin: 0 -10px;
	}

	// .librery-main__cards

	&__cards {
		flex: 0 0 33.3333333%;
		padding: 0 15px;
		@media (max-width:800px){
			padding: 0 10px;
		}
		@media (max-width:690px){
			flex: 0 1 50%;
		}
		@media (max-width:463px){
			flex: 0 1 100%;
		}
	}

	// .librery-main__pic

	&__pic {
		margin-bottom: 30px;
		overflow: hidden;
	}

	// .librery-main__img

	&__img {
		display: block;
		position: relative;
		padding-bottom: 63.6132316%;
	}
	&__img img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.3s;
	}
	@media (any-hover: hover){
		&__img img:hover{
			transform: scale(1.3);
			transition: transform 0.3s;
		}
	}

	// .librery-main__info

	&__info {
	}
	&__info :not(:last-child){
		margin-bottom: 10px;
	}

	// .librery-main__date

	&__date {
		@include ftstyle($ftstylecr:#495057, $ftstylefz:12px, $ftstylelh:1.67, $ftstylefw:300); 
	}

	// .librery-main__title

	&__title {
	}
	&__title a{
		@include ftstyle($ftstylecr:#212529, $ftstylefz:16px, $ftstylelh:1.56, $ftstylefw:500); 
		transition: color 0.3s;
		@media (max-width:779.98px){
			font-size: 14px;
		}
	}
	@media (any-hover: hover){
		&__title a:hover{
			color: #8a96a3c0;
			transition: color 0.3s;
		}
	}
}
//======================================= футер ===============================================
.footer-page {
	background: #212529;

	// .footer-page__container

	&__container {
		padding-top: 100px;
		padding-bottom: 100px;
		@media (max-width:800px){
			padding-top: 50px;
			padding-bottom: 50px;	
		}
		@media (max-width:645px){
			padding-top: 30px;
			padding-bottom: 30px;	
		}
	}

	// .footer-page__menu

	&__menu {
		display: flex;
		justify-content: space-between;
		padding-bottom: 40px;
		margin-bottom: 40px;
		border-bottom: 1px solid rgba(229, 229, 229, 0.2);
		@media (max-width:767.98px){
			padding-bottom: 20px;
			margin-bottom: 20px;			
		}
		@media (max-width:645px){
			flex-direction: column;
			align-items: center;
			row-gap: 20px;
		}
		@media (max-width:490px){
			row-gap: 10px;
		}
	}

	// .footer-page__logo

	&__logo {
	}
	&__logo a{
		@include ftstyle($ftstylecr:#F8F9FA, $ftstylefz:18px, $ftstylelh:1.39, $ftstylefw:700);
	}

	// .footer-page__navigator

	&__navigator {
	}

	// .footer-page__socials

	&__socials {
	}

	// .footer-page__more

	&__more {
	}
}
.navigator-footer {

	// .navigator-footer__list

	&__list {
		display: flex;
		column-gap: 25px;
	}

	// .navigator-footer__items

	&__items {
	}
	&__items a{
		@include ftstyle($ftstylecr:rgba(248, 249, 250, 0.5), $ftstylefz:12px, $ftstylelh:2.08, $ftstylefw:500); 
	}
}
.socials-footer {

	// .socials-footer__list

	&__list {
		display: flex;
		column-gap: 25px;
	}

	// .socials-footer__items

	&__items {
	}
	&__items a{
		@include ftstyle($ftstylecr:rgba(248, 249, 250, 0.5), $ftstylefz:12px, $ftstylelh:2.08, $ftstylefw:500); 
	}
}
.more-footer {
	display: flex;
	justify-content: space-between;
    @include ftstyle($ftstylecr:rgba(248, 249, 250, 0.5), $ftstylefz:12px, $ftstylelh:1.67, $ftstylefw:500); 
	@media (max-width:490px){
		flex-direction: column;
		align-items: center;
	}
	// .more-footer__text

	&__text {
	}
}
